.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "sans-serif";
}
.locked {
  color: red;
  transition: 1s;
  font-size: 40px;
}
.open {
  transition: 1s;
  color: lime;
  font-size: 40px;
}
.button-locked {
  width: 150px;
  padding: 20px;
  border-radius: 10px;
  transition: 1s;
  border: none;
  background-color: lime;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.button-open {
  width: 150px;
  padding: 20px;
  border-radius: 10px;
  transition: 1s;
  border: none;
  font-weight: bold;
  font-size: 15px;
  background-color: red;
}
